protobuf
optimum-quanto==0.2.7
einops
timm
diffusers==0.33.1
transformers==4.45.2
sentencepiece
huggingface_hub
accelerate==0.32.0
peft

opencv-python==4.10.0.84
numpy==1.26.4
Pillow
cython
git+https://github.com/ToTheBeginning/facexlib.git

fastapi
uvicorn[standard]
python-multipart
python-dotenv
pyngrok

groq
openai

rembg[cpu]==2.0.67